body{
    FONT-SIZE: 15px;
	BACKGROUND: #ffffff;
    FONT-FAMILY: Verdana,Arial, Helvetica;
}
table{
	FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}
td{
	font-family:Verdana, Arial, Helvetica;
	font-size:="2";
	COLOR: #000000
}
tr{
	font-family:Verdana, Arial, Helvetica;
	font-size:="2";
	COLOR: #000000
	height: 15px;
}
.heading {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	BACKGROUND: url(back.GIF);
    border: #FFFFFF;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	TEXT-ALIGN: center;
	color: #ffffff;
}
.tblHeadinglft {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND: #EBF3FB ;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    TEXT-ALIGN: left
}
.tblHeadingcen {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND: #EBF3FB;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: center
}
.rowTotal {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #EBF3FB;
    TEXT-ALIGN: right
}
.colTotal {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #EBF3FB;
    TEXT-ALIGN: right
}
.tblBorder {
	border: 2px solid #003366;

}
.lblFieldbold
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    FONT-SIZE: 12px;
	color: black;
	padding-left: 1px;
	font-weight: bold;
}
.lblField
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    FONT-SIZE: 12px;
	color: black;
	padding-left: 1px;
}
.txtBox {
	BORDER-RIGHT: #336699 1px solid;
	BORDER-TOP: #336699 1px solid;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
	FONT-SIZE: 11px;
	COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
}

.txtArea {
	BORDER-RIGHT: #336699 1px solid;
	BORDER-TOP: #336699 1px solid;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
	FONT-SIZE: 11px;
	COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
}

A:link {
	COLOR: #000000;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	font-size:="2";
}

A:visited {
	FONT-FAMILY: Verdana,Arial, Helvetica;
	font-size:="2";
	COLOR: #000000;
}

A:active {
	FONT-FAMILY: Verdana,Arial, Helvetica;
	font-size:="2";
	COLOR: #000000
}

A:hover {
	FONT-FAMILY: Verdana,Arial, Helvetica;
	font-size:="2";
	COLOR: #000000;
	TEXT-DECORATION: UNDERLINE
}

.btn{
    BACKGROUND-IMAGE: url(img/topborder_s.gif);
	FONT-SIZE: 11px;
	WIDTH: 95px;
    HEIGHT: 20px;
	CURSOR: hand;
    COLOR: #ffffff;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}

.btnSmall{
	FONT-SIZE: 11px;
	WIDTH: 75px;
    HEIGHT: 20px;
	CURSOR: hand;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: center
}
.btnLarge{
	FONT-SIZE: 11px;
	WIDTH: 150px;
    HEIGHT: 20px;
	CURSOR: hand;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: center
}

input{
	BORDER-RIGHT: #336699 1px solid;
	BORDER-TOP: #336699 1px solid;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
	FONT-SIZE: 11px;
	COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
}

.alert
{
	color: blue;
	padding-left:0px;
}
.info
{
	color: blue;
	padding-left:0px;
}
.warningMedium {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #990000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.warningLarge {
	FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #990000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.warningSmall {
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #990000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.errorMedium {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.errorLarge {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #ff0000;
	FONT-FAMILY: Verdana,Arial, Helvetica;
	FONT-VARIANT: small-caps;
}
.errorSmall {
	FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}

.successMedium {
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #009900;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.successLarge {
	FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #009900;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}

.successSmall {
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #009900;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    FONT-VARIANT: small-caps
}
.notes {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #336699;
    FONT-FAMILY: Verdana,Arial, Helvetica;
    TEXT-ALIGN: left
}
