html, body {
	font-family:Arial, Helvetica, sans-serif;
	scrollbar-base-color: #b4e3ed;
	scrollbar-arrow-color: #e7ecff;
	scrollbar-darkshadow-color: #e7ecff;
	scrollbar-shadow-color: #e7ecff;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	overflow-x:hidden;
}
#about{background:#fff; margin-top:0px; margin-left:1%; }
.company_detail_box{float:right; width:75%;  -webkit-border-radius:5px; moz-border-radius:5px; border-radius:5px;}
.company_detail_box1{width:94%; float:left;}
.company_detail_box3{width:94%; float:left; margin-right:20px; margin-top:20px;}
.company_text_box{background:#e7ecff; width:100%; line-height:24px; padding-left:10px; color:#6a6a6a; font-size:10px; margin-bottom:10px;}
.company_text_box1{background:#f8f9fd; width:100%; line-height:24px; padding-left:10px; color:#6a6a6a; font-size:10px; margin-bottom:10px;}
.welcome_bg1{float:left; width:275px; height:275px; margin:10% 0 5% 20%; }
.company_logo{width:135px; height:58px; float:right; background:url(../images/logo_company.gif) center no-repeat; }
.welcome_bg{width:100%; line-height:24px; float:left; font-size:12px; margin-left:5px; color:#6a6a6a; margin-top:5px; }
.icons_box{width:100%; height:auto; float:left; margin:5px 0 0 5px ;}
.home_icon{width:10px; height:11px; float:left; margin-left:2%;}
.home_txt{ float:left; margin:0 1% 0 1%;}
.home_txt a{font-size:10px; color:#949494; text-decoration:none;}
.logo_box{width:91%; height:auto; float:left; -webkit-border-radius:5px; moz-border-radius:5px; border-radius:5px; padding-left:3%; }
.menu_box{width:94%; float:left; height:575px; background:#fff; padding:3%; overflow:auto;}
.pageBreak{
	page-break-after: always;
}
a{color: #024b5b; font-size: 11px;}
a:hover{text-decoration: none; cursor:pointer;}
th{
	height: 22px;
	font-size: 11px;
	font-weight: bold;	
	text-align: center;
	background-color: #e7ecff;	
	border-width: 2px;
	border-style: solid;
	border-color: #FFF;
	cursor:default;
}
.logo {
	 background-color:#FFF;	 
}
.bodyBGColor{		
	background:#FFFFFF;	
}
.importantField{
	border: 2px solid red;
}
.box{
	border: 1px solid orange;
}
.menuBodyBGColor{	
	margin-top:10px;
	margin-left:2px;
	-webkit-border-radius:5px;
	moz-border-radius:5px; 
	border-radius:5px; 
	background:#fff;
}
.menuBGbox{width:35%; float:left; -webkit-border-radius:5px;moz-border-radius: 5px; border-radius:5px; background:#fff; padding:3%; border:1px solid red;}
.tblMain{
	width: 99%;
	border-collapse: collapse;
}
.tblSetting{
	width: 99%;
	border-collapse: collapse;
	text-align: center;
}
.centerPageRightBorder {
	padding-bottom: 20px;
}
.LayoutHeight {
	 height: auto;
	 vertical-align: top;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
.LayoutHeight2 {
	 height: 436px;	 
}
.tblGrid{
	width: 99%;
	border-color: #fff;
	border-collapse: collapse;
	layout-grid: 1px solid red;
	text-align: left;
}
TABLE.tblGrid TD{
	border-width: 2px;
	border-style: solid;
	border-color: #FFF;
	padding-left:4px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size: 11px;	
}
TABLE.tblGrid a{color: #cc0000; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
TABLE.tblGrid a:visited{color: orange; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
TABLE.tblGrid a:hover{color: #cc0000; text-decoration: none; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
.tblGrid2{
	width: 24%;
	border-color: #fccc8d;
	border-collapse: collapse;
	layout-grid: 1px solid red;
	text-align: left;
}
TABLE.tblGrid2 TD{
	border-width: 1px;
	border-style: solid;
	border-color: #fccc8d;
	padding-left:4px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
TABLE.tblGrid2 a{color: #cc0000; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
TABLE.tblGrid2 a:visited{color: orange; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
TABLE.tblGrid2 a:hover{color: #cc0000; text-decoration: none; font-size: 11px; font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;}
.container{
	height:auto;	
	width: 100%;
	padding-bottom:30px; 
	vertical-align: top;
}
.pageHead{
	font-size: 15px;
	color: #003399;
	font-weight: bold;	
	line-height:30px;	
}
.pageTitle{
	width:90%;
	height: 28px;
	vertical-align : middle;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;	
}
CAPTION	{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 15px;
}
LEGEND	{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c35810;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
FIELDSET {
	width: 100%;
	border:none;	
	padding-bottom: 10px;
}
.dispFieldTitle{
	color:#6a6a6a;	
	font-size: 11px;	
	text-align: right;
}
.NewDispFieldTitle{
	color: #cd7423;
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
	height:25px;
}
.dispFieldTitleNormal{
	color: #cd7423;
	font-size: 11px;
	font-weight: bold;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.dispFieldTitleText{
	color: #cd7423;
	font-size: 12px;
	font-weight: bold;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}
.normalText{
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#333;
	padding-left:5px;
}
.normalTextBold{
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}	
.normalCenterText{
	font-size: 11px;
	text-align: center;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.txtInput{
	height: 19px;	
	font-size: 11px;
	background:#f8f8f8; border:1px solid #e9ebeb;
	padding-left: 2px;
}
.btnInput{	
	font-size: 11px;	
	width: 100px;		
	line-height:19px;
	height:19px; 
	border:none; 
	background:#ff8400; 
	color:#FFF; 
	text-align:center; 
	cursor:pointer; 
}
.btnInput:hover{background:#ee7c02; color:#FFF;}
.btnRadio{
	background-color: #fef3d3;
}
.chkBox{
	background-color: #fef3d3;
}
.selListBox{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #f8f8f8;
	border:1px solid #e9ebeb;
}
.btnNav{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 22px;
	padding-bottom: 2px;
	color:#FFF;
	font-weight: bold;
	background-color: #ff8400;
	border: 1px solid #c99d66;	
	cursor: pointer; * cursor: hand; 
}
.btnNav:hover{background:#ee7c02; color:#FFF;}
.reqField {
	background-color: red;
	width: 3px;
	height: 16px;
	vertical-align: bottom;
	margin-left: 3px;
	margin-right: 3px;
}
.reqFieldLegend {
	width: 100%;
	text-align: right;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #cc3300;
	font-size: 11px;
}
.txtArea {
	scrollbar-base-color: #ffecc2;
	scrollbar-arrow-color: #F9A970;
	scrollbar-darkshadow-color: #F9A970;
	scrollbar-shadow-color: #F9A970;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #fccc8d;
	padding-left: 3px;
	padding-right: 3px;
	background:#f8f8f8; border:1px solid #e9ebeb;
}
.rowHighLight{
	background-color: #feedc7;
}
.errorMessage {
	text-align: center;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: red;
	font-size: 11px;
}
.alertTitle{
	height: 23px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	background-color: #e7ecff;	
	color: #d3420a;
	font-weight: bold;
}
.redMessage{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	color: red;
	font-weight: bold;
	width:500px;
	height:50px;
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:30px;
}
.greenMessage{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	color: green;
	font-weight: bold;
	width:500px;
	height:50px;	
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:30px;
}
.alertMessage{
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #d3420a;
	font-weight: bold;
	width:500px;
	height:50px;
	background-image: url('../images/bg_err_msg.gif');
	background-repeat: repeat-X;
	border: 1px solid #ffd793;
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:30px;
}
.replyAdmin{	
	background-repeat: repeat-X;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	vertical-align:top;	
	padding-bottom:10px;
	border:1px solid #e9ebeb;
}
.statusNew{
	color: #3366FF;
}
.statusActive{
	color: green;
}
.statusCloseAccount {
	color: maroon;
}
.errorSpace {
	width: 500px;
	text-align: center;
}
.tooltip{
	width: 400px;
}
.tooltip_title{
	background-image: url('../images/tc.gif');
	background-repeat: repeat-x; 
	text-align:center; 
	font-size:14px; 
	font-family: Trebuchet MS; 
	text-align: center; 
	color:#CC3333;
	font-weight: bold;
}
.tooltip_ml{
	background-image: url('../images/lct.gif');
	background-repeat: repeat-y; 
}
.tooltip_text{
	background-color: #fef3d3; 
	font-size:11px; 
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}
.tooltip_bc{
	background-image: url('../images/bc.gif');
	background-repeat: repeat-x; 
}
.totalValue{
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
	background-color: #fee2b2;
	background-image: url("../images/tc.gif");
	background-position: top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #fccc8d;
	}
.boxLine {
	border: 1px solid #fccc8d;
	padding:10px;
}
.tdstyl{
	width: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #fccc8d;
	padding-left:4px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.crheads{
	color:#D3420A; 
	font-size: 14px; 
	padding: 14px 0 10px 0; 
	font-family: Trebuchet MS,Verdana,Geneva,Arial,Helvetica,sans-serif; 
	font-weight: bold;
}
table.tablesorter thead tr th.header {
 	background-image: url(../images/bg.gif);
 	background-repeat: no-repeat;
 	background-position: center right;
 	cursor: pointer;
}
table.tablesorter thead tr th.headerSortUp {
 	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr th.headerSortDown {
 	background-image: url(../images/desc.gif);
}
table.tablesorter tbody tr.odd {
	background-color:#E6E6E6;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #FEFBF1;
}
.even.rowHover,
.odd.rowHover {
    background-color: #FAFA9D !important;
}
.d0{
background-color: #f5f5f6; color: black;
}
.d1{
background-color: #E6E6E6; color: black;
}
a {text-decoration:none;}
.treeview, .treeview ul  { 
	padding: 0;
	margin: 0;
	list-style: none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#024b5b;
	line-height:15px;
}
.treeview ul {	
	margin-top: 4px;
}
.treeview .hitarea {
	background:url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}
.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color:#ff8400; cursor: pointer; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview .placeholder {
	background: url(images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
/*///eit css///*/
.header{
	background:#232323;}
.user-top{
	width:385px;
	height:80px;
	float:right;
	margin:25px;
	background:url(../images/arrow.png) no-repeat;
	background-position:15px 9px;
	background-color:#333333;
	box-sizing:border-box;
	padding-left:90px;
	color:#FFF;
	}
.user-name{
	font-size:12px;
	}
.compny-title{
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:25px;
	}
.logo_box{
	margin:45px 35px 55px 35px;}
.logo-col{width:25%; height:auto; float:left;}
.left-nav{
	background-color:#f5f5f5;
	}
.left-nav ul li{
	border-bottom:1px solid #e6e5e5;
	padding:8px 0px;
	cursor:pointer;
	}
.left-nav ul li .folder a, .left-nav ul li .file a{
	font-family:Arial, Helvetica, sans-serif;
	color:#656565;
	display:block;
	width:100%;
	}
ul li.home{
	background:url(../images/home.png) no-repeat;
	background-position:15px 9px !important;
	padding-left:20px;}
ul li.setting{
	background:url(../images/setting.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
ul li.booking{
	background:url(../images/booking.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
ul li.car{
	background:url(../images/car.png) no-repeat !important;
	background-position:15px 9px !important;
	padding-left:20px !important;}
ul li.customer{
	background:url(../images/custmor.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
ul li.lock{
	background:url(../images/lock.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
ul li.sales{
	background:url(../images/sales.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
ul li.progress{
	background:url(../images/progress.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
.left-nav ul li:hover{
	border-right:2px solid #f23434;
}
.left-nav ul li:hover > ul{
	margin-right:-2px !important;
	border-right:2px solid #f5f5f5;}
.title{
	width:100%;
	display:block;
	padding:13px 10px;
	box-sizing:border-box;
	float:left;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	background-color:#f23434;}
.row{
	width:100%;
	float:left;
	display:block;}
.col-5{
	width:20%;
	display:block;
	float:left;}
#about > ul, ul#browser{
	list-style-type:none;}
#about ul li ul{
	list-style-image:url(../images/bulit.png);
	padding-left:25px;
	margin-top:10px;
	min-height:175px !important;
	}
#about .folder{
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#656565;
	padding-top:5px;}
#about .file{
		color:#a8a7a7 !important;
		padding-left:0px !important;}
#about .home .file{
	padding-left:18px !important;
	font-weight:bold;
	font-size:13px !important;}
.right-nav{
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	min-height:100%;
	}
.right-nav .right-nav-button{
	background:url(../images/nav-hover.png) no-repeat;
	height:58px;
	width:28px;
	float:left;
	cursor:pointer;
	position:absolute;
	top:45%;
	left:-25px;}
.user-drop{
	background: url(../images/user-arrrow.png) no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  float: right;
  margin: -40px 25px 0 0;
  position:relative;
  cursor:pointer;
  }
.user-menu{
	background:url(../images/user-bg.png) no-repeat;
	position:absolute;
	right:-15px;
	top:10px;
	width:170px;
	z-index:9;
	display:none;
	background-size:100% 100%;}
.hide-part{
	background-color:#232323 !important;
	float:right;
	display:block;
	width:350px;
	}
.hide-part li:hover{
	border-right:none !important;}
.hide-part li{
	border-bottom:1px solid #111111;}
.col-2-nav{
	display:block;
	float:left;
	background-color:#232323;
	padding:0 0 0 2%;
}
.user-menu ul{
	list-style-image:none !important;
	list-style-type:none;
	padding:10px;
	margin:0px;
	}
.col-2-nav1 ul li{
	float:left;
	display:block;
	width:140px;
	padding-top:0px;
	padding-bottom:0px;
	}
.col-2-nav1 ul li span{
	padding:8px 15px !important;
	border-right:1px solid #111111;}
.user-menu ul li:hover{background-color:#333333; border-top:1px solid #232323; border-bottom:1px solid #232323;}
.user-menu ul li{ padding-top:5px; padding-bottom:5px; border:1px solid #232323 !important;}
.user-menu ul li a{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7e7e7e;
	}
.user-menu ul li .file{
	padding-top:5px;
	padding-left:20px !important;}
ul li.log-out{
	background:url(../images/logout.png) no-repeat;
	background-position:15px 9px;
	padding-left:20px;}
.hide-part{
	display:none;
	}
.hide-part ul li{border-bottom:none;}
.hide-part ul li span{
	background-image:url(../images/btm-bdr.png) !important;
	background-repeat:no-repeat;
	background-position:left bottom !important;
	background-size:135px 7px !important;}
.col-2-nav1{ border-right:1px solid #111111; background:url(../images/menu-br.png) repeat-y;
  -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;}
#browser .expandable ul li:nth-last-child(1){
	border-bottom:none;}
#browser li.expandable.home span a.star, #browser li.expandable > ul > li a.star{
	margin-top:-15px !important;
	}
#browser li.expandable span a.star, #browser li.expandable > ul > li a.star{
	background:url(../images/star.png) no-repeat;
	background-position:calc(100% - 10px) 0px;
	height:20px;
	width:35px;
	float:right;
	display:none;
	margin-top:0px;}
#browser li.expandable span:hover a.star, #browser li.expandable > ul > li:hover a.star{
	display:inline-block;}
.expandable ul{
	margin-bottom:-8px;}
#about #browser{
	padding:0px;}
.main-header{
	display:block;
	width:100%;
	float:left;}
.left-sidbar{
	float:left;
	display:block;
	width:15%;
	height:530px;
	overflow-x: hidden;
  	overflow-y:auto;
	}
.content-area{
	display:block;
	float:left;
	width:85%;
	position:relative;
	}
.main{
	position:relative;
	float:left;
	display:block;
	width:100%;}
.lable{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#656565;
	float:left;
	padding:5px 15px;
	display:inline;}
input[name="add"]{
	background:#f23434;
	color:#FFF;
	font-size:9px;
	width:85px !important;
	height:25px;
	border:1px solid #f23434;
	cursor:pointer;
	float:left;
	}
.list-table{
	margin-top:40px;
	float:left;}
.list-table th{
	background:#232323;
	color:#FFF;
	text-align:left;
	padding:3px 10px;
	border:0px;
	border-right:1px solid #FFF;}
.list-table td{
	border-right:1px solid #FFF;
	color:#7e7e7e;
	font-size:12px;
	font-weight:normal;
	padding:7px;}
.list-table td a{color:#7e7e7e;}
.move .up{
	background:url(../images/up.png) no-repeat;}
.move .down{
	background:url(../images/down.png) no-repeat;}
.move .down, .move .up{
	width:10px;
	height:6px;
	display:inline-block;
	margin:1px;}
.input-txt{
	display:inline-block;
	float:left;
}
.righta form{
	display:inline;
	float:right;}
.move{
	float:right;
	width:10px;}
.list-table td:last-child, .list-table th:last-child{
	border-right:0px !important;
	}
.list-table tr:nth-child(2n){
	background:#f5f5f5 !important;}
.list-table tr:nth-child(n){
	background:#FFF ;}
.list-table{
	border:1px solid  #efeeee;
	border-collapse:collapse;}
#list-input{ 
	height: 21px;
  margin-right: -6px;
  padding: 0px;}
.listing{
	margin-left:1%;}
.listing-mid{
	width:500px;
	margin:0 auto;
	padding-top:15px;
	display:block;
	clear:both;}
.righta{
	text-align:right;
	}
.login-bx{
	width:510px;
	height:365px;
	margin:0 auto;
	background-color:#232323;
	position:relative;
	top:100px;}
.login-page .logo_box{
	background:url(../images/lockb.png) no-repeat;
	width:425px;
	background-position:right top;}
.lable1{
	color:#FFF;
	font-size:12px;}
.rowl{
	width:425px;
	margin:0 auto;
	margin-top:20px;}
.rowl input{
	width:425px;
	height:40px;
	}
.login-txt{
	display:inline-block;
	float:right;
	text-align:left;
	width:265px;
	font-size:10px;
	color:#747474;}
.login-submit{
	display:inline;
	float:right;}
.login-submit input{
	width:90px;
	height:30px;
	border:none;
	background:#f21a1b;
	cursor:pointer;
	color:#FFF;}
.fullform{
	margin-left:1%;}
.fullform table{
	margin:0 10%;
	float:left;
	}
.fullform table input{
	width:170px;
	height:20px;
	}
.fullform table td select{
	width:175px;
	height:25px;}
.fullform table input[type="radio"], .fullform table input[type="checkbox"]{
	width:15px; !important;
	height:15px !important;
	}
.fullform table tr td{
	padding:10px;
	vertical-align:top;
	font-size:12px;}
.fullform table textarea{
	width:480px;
	height:110px;}
.fullform table td label{
	color:#747474;
	text-align:right;
	display:block;
	padding-top:8px;}
.fullform table td, .fullform table td select{color:#747474;}
.fullform table input.smallinput{
	width:50px;}
label.smalllable{
		display:inline-block !important;
		padding:0 10px;}
ul.check-list{
	margin:0;
	padding:0;
	list-style-type:none;
	}
ul.check-list{
	-moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;}
.ui-datepicker-trigger{
	cursor:pointer;
	display:inline-block;
	float:left;
	margin-top:4px;
	margin-left:5px;
	}
.datepicker input{
	width:40px !important;
	margin:0 5px;
	float:left;}
.scroll-form-bdy{
/*	overflow-y:scroll;
	overflow-x:hidden;*/
	max-height:400px;
	display:block;
	float:left;
	width:95%;
	margin-top:15px;
	margin-bottom:50px;

	}
	.Input-table{
	margin-top:10px;
	float:left;
	}
.Input-table td{
	padding:7px;
	}
	
.Input-table tr{
	height: 25px;
	}	
	
	
/*.scroll-form-bdy::-webkit-scrollbar {
      width:3px;
}
.scroll-form-bdy::-webkit-scrollbar-track {
      background-color: #e9e8e8;
} // the new scrollbar will have a flat appearance with the set background color 
 
.scroll-form-bdy::-webkit-scrollbar-thumb {
      background-color:#f21a1b; 
} // this will style the thumb, ignoring the track 
 
.scroll-form-bdy::-webkit-scrollbar-button {
	display:none;
} // optionally, you can style the top and the bottom buttons (left and right for horizontal bars) 
 
.scroll-form-bdy::-webkit-scrollbar-corner {
	display:none;
} // if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
